html,body{
 margin: auto;
 background-image: url(img/web1.jpeg);
 background-color: rgb(11, 106, 134);
 background-blend-mode: overlay; background-repeat: repeat;
 overflow-x: hidden;
 position: relative;
}
 
hr{background-color: black; height: 2px; 
    text-align: left;
}

h2{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-weight: 700;
}


#navigation-bar li{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline;
    padding: 5%;
    font-weight: bolder;
    font-size: 20px;
    font-style: oblique;

}


div[id=navigation-bar]{
    margin: 0%;
    padding: 1px;
    text-align: center;
    background-color: rgb(11, 106, 134);;
    
}
div[id=navigation-bar] a{
    text-decoration: none;
    font-family: monospace;

}
div[id=navigation-bar] a:hover{
background-color: whitesmoke;
padding: 1%; color: blue !important;
padding-bottom: 1%; padding-top: 1%;
font-family: 'Times New Roman', Times, serif;  
}
div[id=footer]{
    padding: 2%; padding-bottom: 2%;
    background-blend-mode: screen;
    background-image: url(img/web3.jpeg);
    background-color: rgb(11, 106, 134);
    background-size: cover;
    margin: auto; position: relative;
    transform: translate(-0%, -0%);
    overflow: hidden;
}
#footer ul{
    color: blue; padding-bottom: 0%;
    font-weight: bolder;
    transform: translate(+0%, -70%);
    list-style: none; margin: auto;
    overflow: hidden; position: fixed;
    top: 30px;  
}
#footer li{
    display: inline; text-decoration: none;
    padding: 3%;
    overflow: hidden;
}
#footer ul li:hover{
    color: black;
    cursor: grab;
    font-style: italic;
}
div[id=header]{
    position: relative;
}
#header h1{
    color: white; margin: auto; 
    transform: translate(+2%, -1%);
    font-family: monospace;
    font-size: 45px; text-decoration: overline;
}
#header img{
    image-rendering: pixelated;
    width: 130px; height: 100px;
    transform: translate(-2%, +1%);
    position: relative; border-radius: 10%;
}

#footer img{
    width: 2%; height: 2%;
    transform: translate(-20%, +20%);
    image-rendering: pixelated;
}
#container1, #container2, #container3 {
    background-image: linear-gradient(to right,rgb(20, 118, 163),rgb(2, 34, 46));
    opacity: 0.9;
    width: 30%; height: 60%;
    text-align: justify;
    border-style: none; border-radius: 5%;
    line-height: 25px;
    position: absolute;
    padding: 4%; color: white;
}
#container1{
    position: inherit;
    transform: translate(-115%, -0%);
    padding-top: 1%;
}
#container1:hover, #container2:hover, #container3:hover{
color: rgb(240, 240, 52);
font-style: italic; font-weight: 1000;
} 
#container2{
    position: inherit;
    transform: translate(-0%, -0%); padding-top: 2%; padding-bottom: 2%;
}
#container3{
    position: inherit;
    transform: translate(+110%, -230%); padding-top: 2%; padding-bottom: 0%;
}
a{
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    color: whitesmoke;
}
button{
    background-color: rgb(20, 156, 127);
}
button:hover{
    background-color: rgb(1, 1, 7);
}
#great{
    text-align: center; color: white; font-size: 60; font-weight: 1000;
    transform: translate(-0%,+50%); font-style: italic;
}
